@foreach (var product in Products)
{
  <div class="col-md-3 mb-2">
    <a href="/ProductDetails/@product.Id">
      <div class="card">
        <img class="img-thumbnail" src="@product.ImageURL" alt="@product.Name"/>
        <div class="card-body">
          <h5 class="card-title">@product.Name</h5>
          <p class="card-text">
            <b>@product.Price.ToString("c")</b>
          </p>
        </div>
      </div>
    </a>
  </div>
}

@code
{
  [Parameter]
  public IList<ProductDto> Products { get; set; }
}
