@page "/ShoppingCart"
@inherits ShoppingCartBase
@if (ShoppingCartItems == null && ErrorMessage == null)
{
  <displayspinner/>
}
else if (ErrorMessage != null)
{
  <displayerror ErrorMessage="@ErrorMessage"/>
  <p>@ErrorMessage</p>
}
else
{
  @if (ShoppingCartItems?.Count > 0)
  {
    <h3 class="mb-5">Shopping Cart</h3>
    <div class="row mb-5">
      <div class="col-md-9">
        @foreach (var item in ShoppingCartItems)
        {
          <shoppingcartitem
            Item="@item"
            UpdateCartItemClicked="() => UpdateQtyCartItem_click(Item.Id, Item.Qty)"
            DeleteCartItemClicked="() => DeleteCartItem_Click(Item.Id)"
            UpdateQtyInput="() => UpdateQty_Input(Item.Id)"/>
        }
      </div>
      <div class="col-md-3">
        <h5>Cart Summary</h5>
        <div class="mt-2">
          <div>Total - (@TotalQuantity items)&nbsp;&nbsp;<b>@TotalPrice</b></div>
          <a href="Checkout" class="btn btn-primary">
            <span class="oi oi-credit-card"></span>&nbsp;Procees to Checkout
          </a>
        </div>
      </div>
    </div>
  }
  else
  {
    <h4>There are currently no items in your shopping cart</h4>
  }
}
