@page "/ShoppingCart"
@inherits ShoppingCartBase

@if (ShoppingCartItems == null && ErrorMessage == null)
{
  <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
  <displayerror ErrorMessage="@ErrorMessage"/>
  <p>@ErrorMessage</p>
}
else
{
  @if (ShoppingCartItems.Count < 1)
  {
    <h4>There are currently no items in your shopping cart</h4>
    return;
  }
  <h3 class="mb-5">Shopping Cart</h3>
  <div class="row mb-5">
    <div class="col-md-9">
      @foreach (var item in ShoppingCartItems)
      {
        <ShoppingCartItem Item="@item" DeleteCartItemClicked="@DeleteCartItem_Click"/>
      }
    </div>
    <div class="col-md-3">
      <div class="mt-2">
        <div>Total - </div>
        <a href="#" class="btn btn-primary">
          <span class="oi oi-credit-card"/>&nbsp;Procees to Checkout
        </a>
      </div>
    </div>
  </div>
}
